/* Ordered by tags, id, and class, then alphabetical */


/* Universal HTML styling */
html * {
    font-family: "Open Sans" !important;
}


/* Tag stylings */
a:hover {
    color: grey !important;
    transition: color 0.2s ease-in-out;
}

article img {
    object-fit: contain !important;
    max-width: 100%;
    max-height: 100%;
}

footer a {
    color: black;
}

footer a:hover {
    color: transparent !important;
}

footer a .fa-linkedin-in, footer a .fa-github, footer a .fa-twitter {
    padding: 10px 12.5px 10px 12.5px;
}

footer a .fa-linkedin-in:hover, footer a .fa-github:hover, footer a .fa-twitter:hover {
    color: black !important;
    background-color: white !important;
}

header.masthead::before {
    border-radius: 50px !important;
}


/* ID stylings */
#logoutForm {
    display: none;
}

#mainNav {
    position: fixed;
    background-color: white;
    transition: all 0.5s;
}

#mainNav.hide {
    top: -150px;
}


/* Class stylings */
.btn-primary {
    background-color: black !important;
    border-color: black !important;
    border-width: 2px !important;
    border: solid;
    box-shadow: none;
}

.btn-primary:hover {
    transition: all 0.1s;
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    box-shadow: none !important;
}

.btn-secondary {
    background-color: rgb(196, 196, 196);
    border-color: rgb(196, 196, 196) !important;
    border-width: 2px !important;
    border: solid;
    color: black !important;
    box-shadow: none;
}

.btn-secondary:hover {
    transition: all 0.1s;
    background-color: rgb(240, 240, 240);
    color: black !important;
}

.card-anchor:hover {
    transform: scale(1.1) !important;
    color: grey !important;
    transition: all 0.2s ease-in-out;
}

.card-img-top {
    min-height: 200px !important;
}

.inherit-size {
    size: inherit !important;
}

.masthead {
    border-radius: 50px !important;
    box-shadow: 0 1rem 1.5rem grey;

}

@media (min-width: 1400px) {
    .masthead {
        margin-top: 10% !important;
        margin-left: 20% !important;
        margin-right: 20% !important;
    }
}

@media (max-width: 1400px) {
    .masthead {
        margin-left: 10% !important;
        margin-right: 10% !important;
        margin-top: 10% !important;
    }
}

@media (max-width: 576px) {
    .masthead {
        margin-top: 20% !important;
    }
}

.navbar-brand, .nav-link {
    color: black !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: grey !important;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1) !important;
}

.nav-username:hover {
    color: black !important;
    transform: scale(1.0) !important;
}

.postBody {
    margin-top: 80px !important;
}
